<!DOCTYPE html>
<html>
    <h1> Camera {{id}} </h1>
    <div>IP: <input type="text" value="{{ip}}"></div>
    <div>Port: <input type="text" value="{{port}}"></div>
    <div>Login: <input type="text" value="{{login}}"></div>
    <div>Password: <input type="password" value="{{password}}"></div>
    <div>Protocol: <input type="text" value="{{protocol}}"></div>
    <div class="sep">&nbsp;</div>
    <div><button>Delete Camera</button></div>
    <div>
        <button>Live feed</button> <button>Crop</button><span class="sep">&nbsp;</span><button>Reset</button> <button>Apply</button>
    </div>
