<!DOCTYPE html>
<html>
    <h1> Camera {{id}} </h1>
    <div><label for="ip">IP:</label><input id="ip" type="text" value="{{ip}}"></div>
    <div><label for="port">Port:</label><input id="port" type="text" value="{{port}}"></div>
    <div><label for="login">Login:</label><input id="login" type="text" value="{{login}}"></div>
    <div><label for="password">Password:</label><input id="password" type="password" value="{{password}}"></div>
    <div><label for="protocol">Protocol:</label><input id="protocol" type="text" value="{{protocol}}"></div>
    <div class="sep">&nbsp;</div>
    <div><button>Delete Camera</button></div>
    <div>
        <button>Live feed</button> <button disabled>Crop</button> <span class="sep">&nbsp;</span> <button>Reset</button> <button>Apply</button>
    </div>
