<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/index.css')}}">
    </head>
    <body>
        <span id="sidenav" class="sidenav">
            <a href="/cameras">Camera manager</a>
            <a href="/database">Database manager</a>
            <a href="/override">Manual Override</a>
            <div>&ZeroWidthSpace;</div>
            <a href="/settings">Settings</a>
            <a href="/logout">Log Out</a>
        </span>
        <span id="logContainer"></span>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='scripts/index.js')}}"></script>
    </body>
</html>