html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

button, input[type="submit"] {
    cursor: pointer;
}

body span {
    flex-grow: 1;
    display: hidden;
}

#controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

#controls * {
    margin: 10px;
}

#query {
    flex-grow: 1;
}

#results {
    border: 3px solid #BBBBBB;
    border-collapse: collapse;
    margin: 0 20px 0 20px;
}

#results tbody th:nth-child(odd) {
    background-color: #2060CD;
}

#results tbody th:nth-child(even) {
    background-color: #4080FF;
}

#results tbody tr {
    border: 2px solid #BBBBBB;
}

#results tbody tr:nth-child(even) td:nth-child(odd), #results tbody tr:nth-child(odd) td:nth-child(even) {
    background: rgba(200, 200, 200, .5);
}

#results :is(tbody tr:nth-child(even) td:nth-child(even), tbody tr:nth-child(odd) td:nth-child(odd)) {
    background: rgba(150, 150, 150, .5);
}

body button {
    margin: auto 20px 20px 20px;
    background-color: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 6px;
    padding: 3px;
}
